@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello World! This is a test! Hi everyone!</h1>
    <h2>Hello and welcome to the glory that is <a href="https://www.jenkins.io/">Jenkins!<a/></h2>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
